@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* This CSS will print because %message-shared is extended. */
.clb:after {
  clear: both;
  display: block;
  content: '';
}

#warp header {
  color: #fff;
}

#warp header div.back {
  background: #4b53bc;
  height: 300px;
  position: absolute;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 30px 30px;
}

#warp header div.back__name {
  padding: 20px;
}

#warp header div.back__name span {
  font-size: 20px;
}

#warp header div.back__coin {
  padding: 0px 20px;
  font-weight: 900;
  font-size: 40px;
}

#warp header div.back__coin span {
  font-size: 20px;
  font-weight: normal;
}

#warp header div.back__tag ul {
  padding-left: 20px;
  padding-top: 10px;
}

#warp header div.back__tag ul li {
  float: left;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  margin-right: 10px;
}

.s-font {
  font-family: S-CoreDream-2ExtraLight;
}

.footer_gnb {
  width: 100%;
  position: fixed;
  height: 60px;
  line-height: 60px;
  bottom: 0;
}

.footer_gnb li {
  float: left;
  text-align: center;
  width: 25%;
}
