@charset "UTF-8";
@font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
/* This CSS will print because %message-shared is extended. */
$max : 100%;
$defualt_font : 14px;
$main_color : #007cd4;
$gnb_w : 150px;
$gnb_not : #e4e4e4;
$s-font : S-CoreDream-2ExtraLight;
$mc : #4b53bc;
$fn : 20px;
$fl : 40px; 
$tm : 40px;

$break-small: 640px;
$break-large: 1920px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
}


@mixin after {
  position:absolute; content: '';
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clb:after{
  clear: both;
  display: block;
  content: '';

}

#warp {
  width:90%;
    margin:20px auto;
  header {
    
    div.my_price{
      padding:10px;
       background:#eceff4; border-radius: 10px;
      &__photo{
        margin-left:5px;
        width:55px; height:55px; background:#000; border-radius: 50px;
        background-size: 110%;
        background-position: center;
        background-repeat: no-repeat;
        div.upload_profile{
          width:20px; height:20px; background:$mc;
          
          text-align:center;
          color:#fff;
          border-radius: 50px;
          position:absolute;
          margin-left:40px;
          margin-top:35px;
          span{
            font-size:12px;
            line-height:20px;
          }
        }
      }
      &__left{
        margin-left:20px;
      }
      &__right{
        margin-top:15px;
        span{
          font-size:30px;
        }
      }
    }
    div.fl{
      div.up{
        &__sub_title{
          font-size:12px;
        }
      }
      div.down{
        &__price{
          font-size:25px;
          color:$mc;
          font-weight: bold;
          span {
            font-size:14px;
            color:#000;
          }
        }
      }
    }
    
  }

  .hello_word{
    margin-top:30px;
    span{
      font-size:25px;
      margin-left:10px;
    }
  }

  .main_contents {
    margin-top:4%;
    ul{
      li{
        width:48%;
        margin-bottom:4%;
        float:left;

        .in{
          &__box{
            padding:10px;
            height:80px;
            border-radius:10px;
            background:#f75366;
          }
        }

      }

      li:nth-child(2n){
        float:right;
      }
    }
  }

  

}
.s-font {
  font-family: $s-font;
}

.footer_gnb {
  width: $max;
  position: fixed;
  height:60px;
  line-height:60px;
  bottom:0;
  li {
    float:left;
    text-align:center;
    width: 25%;
  }
  
}


div.warp{
  &__margin {
    margin-top:$tm;
  }
section{

  ul{
    
      li.bank_list{
        width: 90%;
        height:50px; line-height:50px;
        padding:0 10px;
        border-radius: 5px;
        margin-left:5%;
        margin-bottom: 10px;
        background:#fff; border:1px solid #ddd;
      }

    }
  }
  }

  section#my_quest{
    height:200px;
    background: #fff;
    border:1px solid #ddd;
    width:90%; margin: 0 auto;
  }